/* 
Global attributes begin here 
*/
:root {
    --dark-bg: #362d4c;
    --light-bg: #ededf6;
    --primary: #d69df2;
    --secondary: #684e83;
    --edge-margin: 60px;
    --global-margin: 5%;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
}

/* 
Header begins here 
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-top: .5%;
    background-color: var(--dark-bg);
    color: var(--primary);
}

header #h1-bg { 
    position: relative; /* h1's parent div */
    left: -1%;
    background-color: var(--primary)
}

header h1::before {
    background-image: url('../../assets/images/icon.jpg');
    background-size: 45px 45px;
    display: inline-block;
    width: 45px; 
    height: 45px;
    position: absolute;
    left: 2.5%;
    content:"";
}
/* Learned from https://stackoverflow.com/questions/8977957/can-i-change-the-height-of-an-image-in-css-before-after-pseudo-elements */

header h1 {
    margin: 0 10px 0 calc(var(--edge-margin)*1.2);
    padding: 5px;
    color: var(--dark-bg);
    font-size: 45px;
    z-index: 1; /* puts h1 positionally above its parent div */
}

nav {
    display: block;
    margin-right: var(--edge-margin);
    float: right;
    font-size: 20px;
}

a {
    padding: 3px 9px;
    border-bottom: 4px solid var(--primary);
    margin: 0 3px;
    color: var(--primary);
    text-decoration: none;
}

/* 
Backdrop Image begins here 
*/
figure {
    position: relative; /* exists so that subtitle div can be placed relative to the background image */
}

#frame {
    width: 100%;
    height: 210px;
    background-image: url('../../assets/images/5990x1921.png');
    /* Learned from https://stackoverflow.com/questions/20047364/how-to-give-the-background-image-path-in-css */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}

#fig-bg {
    position: absolute; /* subtitle div */
    margin-right: var(--global-margin);
    bottom: 30px;
    background-color: var(--primary);
    z-index: 2; /* puts div above transparent-icon.png */
}

#fig-bg > h2 {
    padding: 10px;
    color: var(--dark-bg);
    font-size: 35px;
}

/* 
Main starts here 
*/
main section { /* content will move from left to right and will wrap below */
    margin: calc(var(--global-margin)/2) var(--global-margin);
    /* Learned from https://stackoverflow.com/questions/8643401/is-there-a-way-to-add-and-subtract-values-in-css */
    height: 110vh;
    display: flex;
    flex-flow: row wrap;
}

main section > * { /* right section 80% */
    width: 80%;
    margin-bottom: calc(var(--global-margin)/2);
    padding-left: calc(var(--global-margin)/2);
    border-left: 5px solid var(--secondary);
}

.text-right { /* left section 20% w/ text aligned to the right */
    text-align: right;
    width: 20%;
    border: none;
    padding-top: calc(var(--global-margin)/8);
    padding-right: calc(var(--global-margin)/4);
}

main section h1 {
    font-size: 45px;
    border: none;
    color: var(--secondary);
}

/* 
Grid setup starts here 
*/
[class*="box"] {
    position: relative; /* relative so that the bg div and title card can copy the size and position */
    margin: 5px;
    border: 5px solid var(--primary);
}
/* Got a refresher from https://www.geeksforgeeks.org/wildcard-selectors-and-in-css-for-classes/ */

.bg { 
    position: absolute; /* bg div */
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #291950;
    opacity: .5;
}

.bg:hover {
    opacity: 0;
}

.title-card {
    z-index: 2;
    position: absolute; /* title card */
    background-color: var(--primary);
    left: -2px;
    bottom: 16px;
    padding: 8px;
}

.title-card h3 {
    padding: 5px 0;
    color: var(--dark-bg);
    font-size: 25px;
}

.title-card p {
    color: var(--dark-bg);
    font-size: 12px;
}

.box-one {
    grid-area: box1;
    background-image: url('../../assets/images/image1.PNG');
    background-size: cover;
}

.box-two {
    grid-area: box2;
    background-image: url('../../assets/images/image0.PNG');
    background-size: cover;
}

.box-three {
    grid-area: box3;
    /* Place third image below */
    background-image: url('../../assets/images/5990x1921.png');
    background-size: cover;
}

.box-four {
    grid-area: box4;
    /* Place fourth image below */
    background-image: url('../../assets/images/5990x1921.png');
    background-size: cover;
}

.box-five {
    grid-area: box5;
    /* Place fifth image below */
    background-image: url('../../assets/images/5990x1921.png');
    background-size: cover;
}

.container {
    height: 80vh;
    /* Learned from https://stackoverflow.com/questions/1622027/percentage-height-html-5-css */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 2fr 2fr;
    grid-template-areas: 
      "box1 box1"
      "box2 box3"
      "box4 box5";
}

/* 
Nav setup starts here 
*/
section nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-self: center;
}

section a {
    color: var(--dark-bg);
    border-bottom: 4px solid var(--secondary);
    padding: 3px 5px;
    align-self: flex-end;
}

/* I'm deciding not to mess with correcting viewport widths that are less than 560px */
/* 
Media Query set up 
*/
@media screen and (max-width: 1120px) {
    main section h1 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 900px) {
    header { /* wraps so that nav links can fit nicely below name card */
        flex-flow: row wrap;
    }

    header nav {
        margin: 10px var(--edge-margin);
        float: left;
    }
  
    main section {
        display: block;
        height: auto;
    }

    main section > * { /* contents will take up the whole width */
        width: 100%;
        margin-bottom: calc(var(--global-margin)/2);
    }

    .text-right {
        text-align: left;
        width: auto;
    }

    main section h1 {
        font-size: 45px;
    }

    section h1 {
        margin-top: calc(var(--global-margin)/2);
    }
  
    section nav { /* contents will move from left to right, and will wrap below */
        flex-flow: row wrap; 
        justify-content: left;
    }
}